* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Netflix Font", sans-serif;
}

.nav {
  width: 85vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  width: 15%;
}

.nav button {
  align-items: center;
  background-color: #e50914;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 12px 16px;
  border: none;
  color: #fff;
  font-weight: bold;
}
