@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000;
}


header{
  height: max-content;
  padding: 1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.5)), url('https://assets.nflxext.com/ffe/siteui/vlv3/7c0e18aa-2c95-474d-802e-7f30e75dcca4/web/NG-en-20241014-TRIFECTA-perspective_96f899b3-9bad-446e-80b9-4b1da6a2242e_medium.jpg');
}

.nav {
  width: 85vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  width: 15%;
}

.nav button {
  align-items: center;
  background-color: #e50914;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 12px 16px;
  border: none;
  color: #fff;
  font-weight: bold;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 6rem auto;
  text-align: center;
  line-height: 72%;
}

.head-sect1 h1{
  color: #fff;
font-size: 4.5vw;
font-weight: 900;
line-height: 120%;
margin: 0px 0px 16px;
}

.head-sect1 h6{
  font-size: 2vw;
  color: #ffffffd8;
  margin: 0px 0px 32px;
}

.head-sect2{
  display: flex;
  flex-direction: column;
  gap: 1rem;  
}

.head-sect2 p{
  color: #fff;
  word-break: break-word;
}

.button input{
  border: 1px solid #eeeeee8c;
  border-radius: 5px;
  width: 20rem;
  padding: 1rem 5px;
  outline: none;
  color: #ffffffc2;
  background-color: rgba(0, 0, 0, 0.61);
}

.button button{
  background-color:#e50914;
  color: #fff;
  border-radius: 5px;
  padding: 12px 25px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}


@media screen and (max-width: 600px ) {
  .head-sect1 h1{
    font-size: 6.5vw;
  }
  .head-sect1 h6{
    font-size: 3vw;
  }

  .head-sect2 p{
    font-size: 2.5vw;
    word-break: break-word;
  }
}

@media screen and (max-width: 483px) {

  .head{
    line-height: 50%;
  }

.button button{
  margin-top: 0.5rem;
}

.head-sect1 h1{
  font-size: 8.5vw;
}

.head-sect1 h6{
  font-size: 3.5vw;
}

.head-sect2 p{
  font-size: 5vw;
  line-height: normal;
  word-break: break-word;
}
}

section {
  width: 100%;
  overflow: hidden; /* Hide overflowing content */
}

article {
  display: flex;
  gap: 1rem;
  animation: bannermove 15s linear infinite;
}

article.paused {
  animation-play-state: paused; /* Pause animation */
}

ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li>img{
  border-radius: 10px;
}

@keyframes bannermove {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%); /* Move to the left */
  }
}

section{
  margin: auto;
  margin-top: 1rem;
  width: 80vw;

}

section>h1{
  color: #fff;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

  li>img{
    width: auto;
  }

.reasons{
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
  color: #fff;
}

.reasons h1{
  font-size: 22px;
}

.boxes{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.box{
  background: radial-gradient(circle at bottom right, #69093b -110%, #1a2042);
  border-radius: 1rem;
  padding: 20px 8px;
  width: 19.1vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  overflow: hidden;
}

.box h1{
  font-size: 19px;
  line-height: 27px;
}

.box p{
  color: #eeeeee98;
  line-height: 20px;
  font-size: 14px;
}
.box-text{
  height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box img {
  margin-top: 1rem;
}

@media screen and (max-width: 1000px ) {

  .boxes{
    flex-direction: column;
    align-content: center;
  }
  .box{
    width: 90vw;
    height: 30vh;
    overflow: hidden;
  }

  .box img{
    margin-bottom: 0.5rem;
  }

}

@media screen and (max-width: 730px){

  .box-text{
    gap: 0.3rem;
  }

  .box h1{
    font-size: 15px;
  }

  .box p{
    font-size: 13px;
  }

}


@media screen and (max-width: 370px) {
  .box img{
    margin-top: 0;
    width: 3rem;
  }
}

.faq{
  width: 80vw;
  margin: auto;
  margin-top: 4rem;
}

.faq h1{
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #fff;
}

.question{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.question-box{
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.question-box h1{
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.innertext{
  display: none;
  color: #fff;
  background-color: #2d2d2d;
  padding: 1.5rem 1rem;
  
}
.innertext h6{
  font-weight: normal;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
